@model IEnumerable<AppDevWorkShop.Models.Bike>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BikeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horsepower)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BikeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horsepower)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Bike_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Bike_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Bike_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
